<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>LLDebugTool</string>
	<key>New item</key>
	<string>LLDebugTool</string>
	<key>New item - 2</key>
	<string>LLDebugTool</string>
	<key>New item - 3</key>
	<string>LLDebugTool</string>
	<key>New item - 4</key>
	<string>LLDebugTool</string>
	<key>New item - 5</key>
	<string>LLDebugTool</string>
	<key>New item - 6</key>
	<string>LLDebugTool</string>
	<key>New item - 7</key>
	<string>LLDebugTool</string>
	<key>New item - 8</key>
	<string>LLDebugTool</string>
	<key>New item - 9</key>
	<string>LLDebugTool</string>
	<key>New item - 10</key>
	<string>LLDebugTool</string>
	<key>New item - 11</key>
	<string>LLDebugTool</string>
	<key>New item - 12</key>
	<string>LLDebugTool</string>
	<key>New item - 13</key>
	<string>LLDebugTool</string>
	<key>New item - 14</key>
	<string>LLDebugTool</string>
	<key>New item - 15</key>
	<string>LLDebugTool</string>
</dict>
</plist>
